Arun.Manglick.Master/Arun.Manglick.Services/WCF Service/Backup20/Service References/HIServiceReferenceUnCaught/HelloIndigoUnCaught.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.thatindigogirl.com/samples/2006/06" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.thatindigogirl.com/samples/2006/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thatindigogirl.com/samples/2006/06/Imports">
      <xsd:import schemaLocation="http://localhost:8000/HelloIndigoUnCaught?xsd=xsd0" namespace="http://www.thatindigogirl.com/samples/2006/06" />
      <xsd:import schemaLocation="http://localhost:8000/HelloIndigoUnCaught?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloIndigoService_ThrowException_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowException" />
  </wsdl:message>
  <wsdl:message name="IHelloIndigoService_ThrowException_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloIndigoService_ThrowExceptionOneWay_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowExceptionOneWay" />
  </wsdl:message>
  <wsdl:message name="IHelloIndigoService_GoodOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:GoodOperation" />
  </wsdl:message>
  <wsdl:message name="IHelloIndigoService_GoodOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoodOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloIndigoService">
    <wsdl:operation name="ThrowException">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IHelloIndigoService/ThrowException" message="tns:IHelloIndigoService_ThrowException_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IHelloIndigoService/ThrowExceptionResponse" message="tns:IHelloIndigoService_ThrowException_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThrowExceptionOneWay">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IHelloIndigoService/ThrowExceptionOneWay" message="tns:IHelloIndigoService_ThrowExceptionOneWay_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GoodOperation">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IHelloIndigoService/GoodOperation" message="tns:IHelloIndigoService_GoodOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IHelloIndigoService/GoodOperationResponse" message="tns:IHelloIndigoService_GoodOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>