Arun.Manglick.Master/Arun.Manglick.WebUI/App_WebReferences/PossibleReturnTypes/ReturnType(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmptyDataTable">
        <s:complexType />
      </s:element>
      <s:element name="GetEmptyDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmptyDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeObject">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeObjectResult" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Profile">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="AuditTrailLog">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeArrayList">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeArrayListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeArrayListResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeGenericList">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeGenericListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeGenericListResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmptyDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmptyDataTable" />
  </wsdl:message>
  <wsdl:message name="GetEmptyDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmptyDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeObject" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeArrayListSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeArrayList" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeArrayListSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeArrayListResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeGenericListSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeGenericList" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeGenericListSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeGenericListResponse" />
  </wsdl:message>
  <wsdl:portType name="ReturnTypeSoap">
    <wsdl:operation name="GetEmptyDataTable">
      <wsdl:input message="tns:GetEmptyDataTableSoapIn" />
      <wsdl:output message="tns:GetEmptyDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeObject">
      <wsdl:input message="tns:GetEmployeeObjectSoapIn" />
      <wsdl:output message="tns:GetEmployeeObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeArrayList">
      <wsdl:input message="tns:GetEmployeeArrayListSoapIn" />
      <wsdl:output message="tns:GetEmployeeArrayListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeGenericList">
      <wsdl:input message="tns:GetEmployeeGenericListSoapIn" />
      <wsdl:output message="tns:GetEmployeeGenericListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReturnTypeSoap" type="tns:ReturnTypeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmptyDataTable">
      <soap:operation soapAction="http://tempuri.org/GetEmptyDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeObject">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeArrayList">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeArrayList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeGenericList">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeGenericList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReturnTypeSoap12" type="tns:ReturnTypeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmptyDataTable">
      <soap12:operation soapAction="http://tempuri.org/GetEmptyDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeObject">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeArrayList">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeArrayList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeGenericList">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeGenericList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReturnType">
    <wsdl:port name="ReturnTypeSoap" binding="tns:ReturnTypeSoap">
      <soap:address location="http://localhost/Rtm/ReturnType.asmx" />
    </wsdl:port>
    <wsdl:port name="ReturnTypeSoap12" binding="tns:ReturnTypeSoap12">
      <soap12:address location="http://localhost/Rtm/ReturnType.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>