Arun.Manglick.Master/Arun.Manglick.Services/WCF Service/Lab07 Security/HelloSecurityWsHttpB/HelloSecureClient/Service References/HSServiceReferenceWsHttpB/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thatindigogirl.com/2006/06/Samples" elementFormDefault="qualified" targetNamespace="http://www.thatindigogirl.com/2006/06/Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdminOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuestOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuestOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuestOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NormalOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>